<template>
  <div>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-height="75vh"
      style=" object-fit: cover;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <b-carousel-slide
        caption="First slide"
        text="Nulla vitae elit libero, a pharetra augue mollis interdum."
        style="text-shadow: 1px 1px 2px #333; object-fit: cover; height: 75vh"
        img-src="https://api.time.com/wp-content/uploads/2021/05/colombia-demonstrations-tax-reform-police-force.jpg"
      ></b-carousel-slide>

      <!-- Slides with custom text -->
      <b-carousel-slide
        caption="First slide"
        text="Nulla vitae elit libero, a pharetra augue mollis interdum."
        class=" img-fluid w-100"
        style="text-shadow: 1px 1px 2px #333; object-fit: cover; height: 75vh"
        img-src="https://149478393.v2.pressablecdn.com/wp-content/uploads/2021/05/colombia-protests-may-1-56148.jpg"
      >
      </b-carousel-slide>

      <!-- Slides with image only -->
      <b-carousel-slide
        caption="First slide"
        text="Nulla vitae elit libero, a pharetra augue mollis interdum."
        class=" img-fluid w-100"
        style="text-shadow: 1px 1px 2px #333; object-fit: cover; height: 75vh"
        img-src="https://english.cdn.zeenews.com/sites/default/files/2021/05/20/937597-colombiastretch.jpg"
      >
      </b-carousel-slide>

      <!-- Slides with img slot -->
      <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
      <b-carousel-slide>
        <template #img>
          <img
            class="d-block img-fluid w-100"
            style="text-shadow: 1px 1px 2px #333; object-fit: cover; height: 75vh"
            src="https://media-eng.dhakatribune.com/uploads/2021/05/colombia-2-1620123230499.jpg"
            alt="image slot"
          />
        </template>
      </b-carousel-slide>

      <!-- Slide with blank fluid image to maintain slide aspect ratio -->
    </b-carousel>
  </div>
</template>

<script>
export default {
  data() {
    return {
      slide: 0,
      sliding: null,
    };
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    },
  },
};
</script>
