<template>
  <div id="Incidents" class="py-2" style="background-color: #dc379b;">
    <div class="container">
      <h2 class=" my-4 text-white">Incidents</h2>
    </div>

    <div class="container ">
      <div class="row ">
        <div v-for="(element, id) in incidents" :key="id" class="col-sm-6">
          <div class="card mb-3 ">
            <div class="row  ">
              <div class="col-md-4 w-sm-100">
                <img
                  src="https://i.stack.imgur.com/yEshb.gif"
                  class="rounded m-2 "
                  style="object-fit: cover;  max-height: 25vh; width: 14rem;"
                  alt="..."
                />
              </div>
              <div class="col-md-7 w-sm-100 mx-sm-3">
                <div class="card-body  ">
                  <h5 class="card-title">{{ element.title }}</h5>
                  <hr class="m-0 " />
                  <div class="my-4">
                    <p class="card-text m-0">
                      official_deaths: {{ element.official_deaths }}
                    </p>
                    <p class="card-text m-0">
                      shots_fired_on_persons:
                      {{ element.shots_fired_on_persons }}
                    </p>
                  </div>
                  <p class="card-text">
                    <small class="text-muted"> {{ element.time }}</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  computed: {
    ...mapState(["incidents"]),
  },

  methods: {
    ...mapActions([
      "loadIncident", //also supports payload `this.nameOfAction(amount)`
    ]),
  },
  created() {
    this.loadIncident();
  },
};
</script>

<style></style>
