<template>
  <div class="my-4">
    <div class="form-group container">
      <h1 class="container my-4 text-capitalize">
        {{ titlePage }}
      </h1>

      <div>
        <b-modal
          id="modal-prevent-closing"
          ref="modal"
          title="Submit Your Name"
          @show="resetModal"
          @hidden="resetModal"
          @ok="handleOk"
        >
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group
              label="Name"
              label-for="name-input"
              invalid-feedback="Name is required"
              :state="nameState"
            >
              <div class="form-group my-2">
                <input
                  type="text"
                  class="form-control"
                  id="name-input"
                  placeholder="Name"
                  v-model="textForm.name"
                  :state="nameState"
                  required
                />
              </div>
            </b-form-group>

            <b-form-group
              label="Title"
              label-for="title-input"
              invalid-feedback="Name is required"
              :state="nameState"
            >
              <div class="form-group my-2">
                <input
                  type="text"
                  class="form-control"
                  id="title-input"
                  placeholder="Title "
                  v-model="textForm.pointTitle"
                  :state="titleState"
                  required
                />
              </div>
            </b-form-group>

            <b-form-group
              label="Description"
              label-for="description-input"
              invalid-feedback="Name is required"
              :state="nameState"
            >
              <div class="form-group my-2">
                <input
                  type="text"
                  class="form-control"
                  id="description-input"
                  placeholder="Description"
                  v-model="textForm.pointDescription"
                  :state="descriptionState"
                  required
                />
              </div>
            </b-form-group>
          </form>
        </b-modal>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "InputPoints",
  props: {
    titlePage: {
      type: String,
      default: "title subsection",
    },
    textForm: {
      type: Object,
      default: {},
    },
  },
  data() {
    return {
      nameState: null,
      titleState: null,
      descriptionState: null,
    };
  },
  methods: {
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      this.nameState = valid;
      return valid;
    },
    resetModal() {
      this.name = "";
      this.nameState = null;
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      // Trigger submit handler
      this.handleSubmit();
    },
    handleSubmit() {
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        return;
      }
      // Push the name to submitted names
      //this.submittedNames.push(this.name);
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide("modal-prevent-closing");
      });
    },
  },
};
</script>

<style></style>
