<template>
  <div>
    <div>
      <h1 class="container my-4 text-capitalize">
        {{ titlePage }}
      </h1>

      <div class="my-4">
        <div class="form-group container">
          <div>
            <b-modal
              id="modal-prevent-closing"
              ref="modal"
              title="Submit Your Name"
              @show="resetModal"
              @hidden="resetModal"
              @ok="handleOk"
            >
              <form ref="form" @submit.stop.prevent="handleSubmit">
                <b-form-group
                  label="Name"
                  label-for="name-input"
                  invalid-feedback="Name is required"
                  :state="nameState"
                >
                  <div class="form-group my-2">
                    <input
                      type="text"
                      class="form-control"
                      id="name-input"
                      placeholder="Name"
                      v-model="textForm.name"
                      :state="nameState"
                      required
                    />
                  </div>
                </b-form-group>

                <b-form-group
                  label="lastName"
                  label-for="lastName-input"
                  invalid-feedback="lastName is required"
                  :state="nameState"
                >
                  <div class="form-group my-2">
                    <input
                      type="text"
                      class="form-control"
                      id="lastName-input"
                      placeholder="lastName "
                      v-model="textForm.lastName"
                      :state="lastNameState"
                      required
                    />
                  </div>
                </b-form-group>

                <b-form-group
                  label="Title"
                  label-for="title-input"
                  invalid-feedback="title is required"
                  :state="nameState"
                >
                  <div class="form-group my-2">
                    <input
                      type="text"
                      class="form-control"
                      id="title-input"
                      placeholder="Title "
                      v-model="textForm.pointTitle"
                      :state="titleState"
                      required
                    />
                  </div>
                </b-form-group>

                <b-form-group
                  label="Description"
                  label-for="description-input"
                  invalid-feedback="description is required"
                  :state="nameState"
                >
                  <div class="form-group my-2">
                    <input
                      type="text"
                      class="form-control"
                      id="description-input"
                      placeholder="Description"
                      v-model="textForm.pointDescription"
                      :state="descriptionState"
                      required
                    />
                  </div>
                </b-form-group>
              </form>
            </b-modal>
          </div>
        </div>
      </div>
    </div>

    <l-map
      style="height: 70vh"
      :zoom="mapObject.zoom"
      :center="mapObject.center"
      @click="openModal"
    >
      <l-tile-layer :url="mapObject.url" :attribution="mapObject.attribution">
      </l-tile-layer>
      <l-marker
        v-for="(point, index) in points"
        :key="index"
        :icon="point.icon"
        :lat-lng="point.marker"
        @click="removeMarker(index)"
      >
        <l-popup class="" style="width: 35vh">
          <div class="flex-sm-column m-0" @click="innerClick">
            <p class="fw-bold m-0 fs-6">{{ point.title }}</p>
            <hr class="m-0 " />
            <p class="fw-lighter my-1 text-end fs-9">
              {{ point.name + " " + point.lastName }}
            </p>
            <p v-show="point.showParagraph" class="fw-light m-0">
              {{ point.description }}
            </p>
          </div>
        </l-popup>
      </l-marker>
    </l-map>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { LMap, LTileLayer, LMarker, LIcon, LPopup } from "vue2-leaflet";
import { latLng, icon } from "leaflet";

export default {
  name: "MapC",
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LIcon,
    LPopup,
    latLng,
  },
  data() {
    return {
      nameState: null,
      lastNameState: null,
      titleState: null,
      descriptionState: null,
      marker: null,
      mapObject: {
        url: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        zoom: 12,
        attribution:
          '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        center: [4.61995008526016, -74.11280293017627],
      },
    };
  },

  props: {
    textForm: {
      pointTitle: Object,
      default: {},
    },
    titlePage: {
      type: String,
      default: "title subsection",
    },
  },

  computed: {
    ...mapState(["points"]),
  },

  methods: {
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      this.nameState = valid;
      return valid;
    },
    resetModal() {
      this.name = "";
      this.nameState = null;
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      // Trigger submit handler
      this.handleSubmit();
    },
    handleSubmit() {
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        return;
      }
      // Push the name to submitted names
      //this.submittedNames.push(this.name);
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide("modal-prevent-closing");
      });
      this.addMarker();
    },
    openModal(event) {
      this.marker = event.latlng;
      this.$nextTick(() => {
        this.$bvModal.show("modal-prevent-closing");
      });
    },

    ...mapActions(["addPoint"]),

    removeMarker(index) {
      //this.markers.splice(index, 1);
    },

    addMarker() {
      this.addPoint({
        marker: this.marker,
        icon: icon({
          iconUrl: require("leaflet/dist/images/marker-icon-2x.png"),
          iconUrl: require("leaflet/dist/images/marker-icon.png"),
          shadowUrl: require("leaflet/dist/images/marker-shadow.png"),
          iconSize: [25, 32],
          iconAnchor: [20, 20],
        }),
        name: this.textForm.name,
        lastName: this.textForm.lastName,
        title: this.textForm.pointTitle,
        description: this.textForm.pointDescription,
        showParagraph: true,
      });
      this.textForm.name = "";
      this.textForm.lastName = "";
      this.textForm.pointTitle = "";
      this.textForm.pointDescription = "";
    },

    innerClick() {
      console.log("CLICK");
      alert("Click!");
    },

    showLongText() {
      this.showParagraph = !this.showParagraph;
    },
  },
};
</script>

<style></style>
