<template>
  <div id="presentation" style="background-color: black;">
    <div class="container  d-flex ">
      <router-link
        :to="{ name: 'MapView', params: { varrequest: 'civilians' } }"
        class=" my-5  container d-flex justify-content-center"
        style="object-fit: cover; max-heigth: 100%; "
      >
        <img
          src="https://i.stack.imgur.com/yEshb.gif"
          style="object-fit: cover;"
          alt=""
          srcset=""
        />
      </router-link>
      <div class=" my-4 py-4 col-5  container">
        <h2 class=" my-4 text-white">{{ $t(title) }}</h2>
        <p class="text-white">{{ $t(paragraf1) }}</p>
        <p class="text-white">{{ $t(paragraf2) }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MapText",
  props: {
    title: {
      type: String,
      default: "",
    },
    paragraf1: {
      type: String,
      default: "",
    },
    paragraf2: {
      type: String,
      default: "",
    },
  },
};
</script>

<style></style>
