<template>
  <nav class="navbar navbar-dark " style="background-color: #dc379b;">
    <div class=" container container-fluid">
      <router-link to="/" class="navbar-brand m-2">
        {{ $t("navbar.appname") }}
      </router-link>
      <div class="" id="navbarToggleExternalContent">
        <router-link
          :to="{ name: 'MapView', params: { varrequest: civilians } }"
          class="btn btn-dark "
          style="background-color: #dc379b; border-color: #dc379b;"
        >
          {{ $t("navbar.civilians") }}
        </router-link>
        <router-link
          :to="{ name: 'MapView', params: { varrequest: 'police' } }"
          class="btn btn-dark "
          style="background-color: #dc379b; border-color: #dc379b;"
        >
          {{ $t("navbar.police") }}
        </router-link>
        <router-link
          :to="{ name: 'MapView', params: { varrequest: 'violations' } }"
          class="btn btn-dark "
          style="background-color: #dc379b; border-color: #dc379b;"
        >
          {{ $t("navbar.violations") }}
        </router-link>
        <router-link
          to="/about"
          class="btn btn-dark "
          style="background-color: #dc379b; border-color: #dc379b;"
        >
          {{ $t("navbar.about") }}
        </router-link>
        <select
          v-model="$i18n.locale"
          class="btn btn-dark "
          style="background-color: #dc379b; border-color: #dc379b;"
        >
          <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang">{{
            lang
          }}</option>
        </select>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {
      langs: ["en", "de", "es"],
      civilians: "civilians",
    };
  },
};
</script>
