<template>
  <div class="py-2 sticky-top d-flex " style="background-color: #dc379b;">
    <div class="container d-flex justify-content-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="11vh"
        height="11vh"
        fill="currentColor"
        class="bi bi-camera"
        viewBox="0 0 16 16"
        style="fill: white;"
      >
        <path
          d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"
        />
        <path
          d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"
        />
      </svg>

      <router-link
        :to="{ name: 'MapView', params: { varrequest: 'civilians' } }"
        class="btn mx-2     justify-content-center"
        style="border-color: white; width:50vh; "
      >
        <p class="text-center align-self-center pt-2  text-white fs-2">
          {{ buttonTex }}
        </p>
      </router-link>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="9vh"
        height="9vh"
        fill="currentColor"
        class="bi bi-camera-reels my-1"
        viewBox="0 0 16 16"
        style="fill: white;"
      >
        <path
          d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
        />
        <path
          d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
        />
        <path
          d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
        />
      </svg>
    </div>
  </div>
</template>

<script>
name = "ReportBar";
export default {
  props: {
    buttonTex: {
      type: String,
      default: "",
    },
  },
};
</script>

<style></style>
