<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="generator" content=
    "HTML Tidy for HTML5 for Linux version 5.7.45">
    <title>GeoJSON tutorial - Leaflet</title>
    <meta name="viewport" content=
    "width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href=
    "docs/images/favicon.ico">
    <link rel="stylesheet" href=
    "node_modules/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href=
    "node_modules/leaflet-overpass-layer/dist/OverPassLayer.css">
    <link rel="stylesheet" href=
    "node_modules/leaflet-geosearch/dist/geosearch.css">
    <link rel="stylesheet" href=
    "node_modules/leaflet-sidebar-v2/css/leaflet-sidebar.css">
    <script src="node_modules/leaflet/dist/leaflet.js"></script>
    <script src=
    "node_modules/leaflet-overpass-layer/dist/OverPassLayer.bundle.js"></script>
    <script src=
    "node_modules/leaflet-geosearch/dist/bundle.min.js"></script>
    <script src=
    "node_modules/leaflet-sidebar-v2/js/leaflet-sidebar.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <style>
     body {
         padding: 0;
         margin: 0;
     }
     html, body, #map {
         height: 100%;
         font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;

     }
     #map {
         width: 100%;
     }

     .lorem {
         font-style: italic;
         text-align: justify;
         color: #AAA;
     }


    </style>
</head>
<body>
    <div id="wrapper">
        <div id="panel">
            <span class="p2">Demo</span>
        </div>
        <div id="map"></div>
        <div id="sidebar" class="leaflet-sidebar collapsed">
            <!-- Nav tabs -->
            <div class="leaflet-sidebar-tabs">
                <ul role="tablist">
                    <!-- top aligned tabs -->
                    <li>
                        <a href="#home" role="tab"></a>
                    </li>
                    <li class="disabled">
                        <a href="#messages" role="tab"></a>
                    </li>
                    <li>
                        <a href="#profile" role="tab"></a>
                    </li>
                </ul>
                <ul role="tablist">
                    <!-- bottom aligned tabs -->
                    <li>
                        <a href="#settings" role="tab"></a>
                    </li>
                </ul>
            </div><!-- Tab panes -->
            <div class="leaflet-sidebar-content">
                <div class="leaflet-sidebar-pane" id="home">
                    <h1 class="leaflet-sidebar-header">
                    sidebar-v2</h1>
                    <div class="leaflet-sidebar-close">
                        <h1 class="leaflet-sidebar-header"></h1>
                    </div>
                    <p>A responsive sidebar for mapping
                    libraries</p>
                </div>
                <div class="leaflet-sidebar-pane" id="messages">
                    <h1 class="leaflet-sidebar-header">
                    Messages</h1>
                    <div class="leaflet-sidebar-close">
                        <h1 class="leaflet-sidebar-header"></h1>
                    </div>
                </div>
                <div class="leaflet-sidebar-pane" id="profile">
                    <h1 class="leaflet-sidebar-header">Profile</h1>
                    <div class="leaflet-sidebar-close">
                        <h1 class="leaflet-sidebar-header"></h1>
                    </div>
                </div>
            </div>
        </div>
        <script src="sample-geojson.js" type=
        "text/javascript"></script>
        <script>










































        let url = "https://comap.live/api/participant/";



        // https://smeijer.github.io/leaflet-geosearch/
        // instead of import {} from 'leaflet-geosearch', use the `window` global
        var GeoSearchControl = window.GeoSearch.GeoSearchControl;
        var OpenStreetMapProvider = window.GeoSearch.OpenStreetMapProvider;

        // initialise the map
        var map = L.map('map');
        map.setView([39.74739, -105], 3);

        // add search to the map
        const searchControl = new GeoSearchControl({
        provider: new OpenStreetMapProvider(),
        });
        map.addControl(searchControl);

        // add overpass queries to the map, for showing police stations
        var opl = new L.OverPassLayer({

        'query': '(node({{bbox}})[amenity=police];node({{bbox}})[amenity=military];);out qt;',
        });

        map.addLayer(opl);


        // add responsive siedbar to the map
        var sidebar = L.control.sidebar({
        autopan: true,       // whether to maintain the centered map point when opening the sidebar
        closeButton: true,    // whether t add a close button to the panes
        container: 'sidebar', // the DOM container or #ID of a predefined sidebar container that should be used
        position: 'left',     // left or right
        }).addTo(map);


        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                  'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/light-v9',
        tileSize: 512,
        zoomOffset: -1
        }).addTo(map);

        var baseballIcon = L.icon({
        iconUrl: 'baseball-marker.png',
        iconSize: [32, 37],
        iconAnchor: [16, 37],
        popupAnchor: [0, -28]
        });

        // Set function for color ramp
        function getColor(league){
        return league == 'NL' ? 'blue' :
            league == 'AL' ? 'red' :
            'white';
        }

         // Set style function that sets fill color property
         // function style(feature) {
         //         return {
         // fillColor: setColor(feature.properties.League),
         // fillOpacity: 0.5,
         // weight: 2,
         // opacity: 1,
         // color: '#ffffff',
         // dashArray: '3'
         //         };
         //         }

        function participantOnEachFeature(feature, layer) {
         var popupContent =   "<h1>" +
                              feature.properties.meta_description +
                              "</h1> <p>" +
                              feature.properties.first_name  + " " + feature.properties.last_name +
                              "</p><p> " +
                              feature.properties.description+
                              "</p>"

                 ;

         if (feature.properties && feature.properties.popupContent) {
             popupContent += feature.properties.popupContent;
         }
             // $('#sidebar>.sidebar_content').html(popupContent);
             // $('.custom-div').html(popupContent);

             layer.bindPopup(popupContent);
         }

        function officerOnEachFeature(feature, layer) {
         var popupContent =   "<h1>" +
                              feature.properties.meta_description +
                              "</h1> <p>" +
                              feature.properties.first_name + " " + feature.properties.last_name +
                              "</p><p> " +
                              feature.properties.description+
                              "</p>"
                 ;

         if (feature.properties && feature.properties.popupContent) {
             popupContent += feature.properties.popupContent;
         }
             // $('#sidebar>.sidebar_content').html(popupContent);
             // $('.custom-div').html(popupContent);

             layer.bindPopup(popupContent);
         }


        function incidentOnEachFeature(feature, layer) {
         var popupContent =   "<h1>" +
                              feature.properties.name +
                              "</h1> <img src=" +
                              feature.properties.img +
                              "/><p>Time: " +
                              feature.properties.time +
                              ", " +
                              feature.properties.meta_description +
                              "</p><p>Official deaths: " +
                              feature.properties.official_deaths +
                              ", Official deaths: " +
                              feature.properties.counted_deaths +
                              "</p>"
                 ;

         if (feature.properties && feature.properties.popupContent) {
             popupContent += feature.properties.popupContent;
         }
             // $('#sidebar>.sidebar_content').html(popupContent);
             // $('.custom-div').html(popupContent);

             layer.bindPopup(popupContent);
         }


        // Set function for color ramp
        function getColor(league){
                return league == 'NL' ? 'blue' :
                           league == 'AL' ? 'red' :
                                                                'white';
               }

        // Set style function that sets fill color property
        function style(feature) {
                return {
                        fillColor: setColor(feature.properties.situation),
                        fillOpacity: 0.5,
                        weight: 2,
                        opacity: 1,
                        color: '#ffffff',
                        dashArray: '3'
                };
        }

        var bbTeam;

        // Get GeoJSON data and create features.
        $.getJSON(url, function(data) {
             console.log("ajax done");

        bbTeam = L.geoJson(data, {

            pointToLayer: function(feature, latlng) {

                                return L.circleMarker(latlng, {
                                radius:6,
                                opacity: .5,
                                //color: "#000",
                                color:getColor(feature.properties.League),
                                fillColor:  getColor(feature.properties.League),
                                fillOpacity: 0.8

                                }).bindTooltip(feature.properties.meta_description);
            },
                                onEachFeature: function (feature, layer) {

                                                layer.on('click', function (e) {

                                                        // get coordinates from GeoJSON
                                                        var coords = e.target.feature.geometry.coordinates
                                                        //pass coords to function to create marker.(Yellow circle)
                                                        onMapClick(coords);

                                                        //place attributes in panel table.
                                                                var fieldA=document.getElementById('pict');
                                                                fieldA.innerHTML='<img src="' +e.target.feature.properties.Logo +'">';
                                                                var fieldB=document.getElementById('pict2');
                                                                fieldB.innerHTML='<img src="' +e.target.feature.properties.LeagueLogo +'">';

                                                                var field1=document.getElementById('f1');
                                                                field1.innerHTML=e.target.feature.properties.League;
                                                                var field2=document.getElementById('f2');
                                                                field2.innerHTML=e.target.feature.properties.Team;
                                                                var field3=document.getElementById('f3');
                                                                field3.innerHTML=e.target.feature.properties.Address;
                                                                var field4=document.getElementById('f4');
                                                                field4.innerHTML=e.target.feature.properties.Stadium;
                                                                var field5=document.getElementById('f5');
                                                                field5.innerHTML=e.target.feature.properties.Capacity;
                                                                var field6=document.getElementById('f6');
                                                                var wsite = e.target.feature.properties.Website;
                                                                if (wsite !== null){
                                                                field6.innerHTML ='<a href="'+ wsite +'" target="_blank">website</a>' ;
                                                                } else{
                                                                field6.innerHTML = 'No site recorded';
                                                                }
                                                });

                                }
                                }).addTo(map);
                                console.log("Feature");
        });



        // click marker
        var clickmark;

        // When you click on a circle, it calls the onMapClick function and passes the layers coordinates.
        // I grab the coords which are X,Y, and I need to flip them to latLng for a marker,
        function onMapClick(coords) {
                console.log(coords);
                var thecoords = coords.toString().split(',');
                var lat = thecoords[1];
                var lng = thecoords[0];
                //if prior marker exists, remove it.
                if (clickmark != undefined) {
                  map.removeLayer(clickmark);
                };

                 clickmark = L.circleMarker([lat,lng],{
                        radius: 8,
                        color: "yellow",
                        fillColor:  "yellow",
                        fillOpacity: 0.8}
                 ).addTo(map);
        }
        // end of code for click marker.


        </script>
    </div>
</body>
</html>
