<template>
  <div class="about container">
    <h1 class="my-4">{{ $t("about.title") }}</h1>
    <p class="fw-lighter">{{ $t("about.text1") }}</p>
    <h3 class="my-4">{{ $t("about.objetivtitle") }}</h3>
    <p class="fw-lighter">{{ $t("about.objectiveText1") }}</p>
    <p class="">{{ $t("about.objectiveText2") }}</p>
  </div>
</template>
