<template>
  <div>
    <carrusell></carrusell>
    <report-bar :buttonTex="buttontext"></report-bar>
    <MapText
      title="landing.title"
      paragraf1="landing.text1"
      paragraf2="landing.text2"
    ></MapText>
    <Incidents />
    <div
      id="Collectively Stop the Violence"
      class="py-2"
      style="background-color: black;"
    >
      <div class="container">
        <h2 class=" my-4 text-white">Collectively Stop the Violence</h2>
      </div>
    </div>

    <div id="General Objective" class="py-2" style="background-color: black;">
      <div class="container">
        <h2 class=" my-4 text-white">General Objective</h2>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Carrusell from "../components/Carrusell.vue";
import ReportBar from "../components/ReportBar.vue";
import MapText from "../components/MapText.vue";
import Incidents from "../components/Incidents.vue";
export default {
  components: {
    Carrusell,
    ReportBar,
    MapText,
    Incidents,
  },
  data() {
    return {
      buttontext: "Report Now",
    };
  },
};
</script>
