<template>
  <div>
    <!--<input-points :title="titleC" :textForm="textForm" />-->
    <map-c :titlePage="titleC" :textForm="textForm" />
  </div>
</template>

<script>
import { LMap, LTileLayer, LMarker, LIcon, LPopup } from "vue2-leaflet";
import { latLng, icon } from "leaflet";
import InputPoints from "../components/InputPoints";
import MapC from "../components/MapC.vue";
import { mapActions, mapState } from "vuex";

export default {
  components: {
    InputPoints,
    LMap,
    LTileLayer,
    LMarker,
    LIcon,
    LPopup,
    latLng,
    MapC,
  },

  data() {
    return {
      textForm: {
        name: "",
        lastName: "",
        pointTitle: "",
        pointDescription: "",
      },
    };
  },
  methods: {
    ...mapActions(["loadCivilian", "loadPolice", "cleanPoints"]),
  },
  computed: {
    ...mapState(["points"]),

    titleC() {
      if (this.$route.params.varrequest === "civilians") {
        this.cleanPoints();
        this.loadCivilian();
        return this.$t("navbar.civilians");
      }
      if (this.$route.params.varrequest === "police") {
        this.cleanPoints();
        this.loadPolice();
        return this.$t("navbar.police");
      }
      if (this.$route.params.varrequest === "violations") {
        return this.$t("navbar.violations");
      }
    },
  },
};
</script>
