{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
    </style>
<script type="text/javascript">

  var m = L.map('m').setView([43.77, 11.26], 15)
  L.tileLayer('//{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(m);

  fetch('/markers/cars')
    .then(function (results) {
      L.geoJSON(results).addTo(m)
    })

</script>

  </head>
  <body>
    <h1>Imminent danger</h1>
    <h2> Cop Map – Report cops in your area </h2>
    <div id="leafletmap">
    {% leaflet_map "main" %}
    </div>
  </body>
</html>