{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <title>Markers Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <!--    <script src="{% static 'js/bootstrap.min.js' %}"></script>-->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>

  <main role="main" class="container">
    </main><!-- /.container -->

  <h1>{% trans 'WelcomeHeading' %}
    <a href="/wiki/File:Smartphone_filming_police_brutality.svg" class="image" title="Police brutality"><img alt="Police brutality" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Smartphone_filming_police_brutality.svg/55px-Smartphone_filming_police_brutality.svg.png" decoding="async" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Smartphone_filming_police_brutality.svg/83px-Smartphone_filming_police_brutality.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Smartphone_filming_police_brutality.svg/110px-Smartphone_filming_police_brutality.svg.png 2x" data-file-width="78" data-file-height="46" width="55" height="32"></a>
  </h1>
  <h2>{% trans 'WelcomeInfo' %}</h2>
  <p> {% trans 'WelcomeContactUs' %} <a href="mailto:sw0rd@disroot.org"> {% trans 'here' %}!</a></p>
{{ markers|json_script:"incidents-data" }}
{{ missing|json_script:"missing-data" }}
<div id="map"></div>
<script src="{% static 'js/map.js' %}"></script>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

</body>
</html>