<!DOCTYPE html>
{% load leaflet_tags %}
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Nearby Drones</title>
    {% leaflet_js %}
    {% leaflet_css %}
  </head>
  <body>
  <h1>Nearby Cops</h1>
    {% if units %}
    <ul>
        {% for unit in units%}
        <li>
            {{ unit.name }} : {{unit.distance}}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Weather Stations</h1>
    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        function main_map_init (map, options) {
            // Use Leaflet API here
        }
    </script>
  </body>
</html>